//Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

//Sizes
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$content-max-width: 80rem;
