<app-header [state]="state" (newGame)="newGame()" />
<div class="container">

  @if (!state.boxSelected) {
  <app-mana-pack-type (selectedPack)="loadManaPack($event)" />
  }

  @if (state.boxSelected){
  <app-navigation
    (untapAll)="untapMana()"
    (unpickMana)="undoPlayMana()"
    (unsacMana)="undoSacrificeMana()"
    (advanceTurn)="nextTurn()" />
  <!-- <div>
              <ManaDisplay
                manaState={manaState}
                dispatchManaState={dispatchManaState}
              />
            </div> -->

  }
</div>