<app-header [state]="state" (newGame)="newGame()" />
<div class="content-container">

  @if (!state.boxSelected) {
  <app-mana-pack-type (selectedPack)="loadManaPack($event)" />
  }

  @if (state.boxSelected){
  <app-navigation />
  <!-- <div>
              <GameNavigation
                manaState={manaState}
                dispatchManaState={dispatchManaState}
              />
              <ManaDisplay
                manaState={manaState}
                dispatchManaState={dispatchManaState}
              />
            </div> -->

  }
</div>